services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: mangia
      POSTGRES_PASSWORD: mangia
      POSTGRES_DB: mangia_dev
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
